<h1>Listing posts</h1>

<%= render 'form' %>

<table>
  <tr>
    <th>Content</th>
    <th>Longitude</th>
    <th>Latitude</th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.content %></td>
    <td><%= post.longitude %></td>
    <td><%= post.latitude %></td>
    <td><%=
          #if post.editable_by_current_user?
          #  link_to 'Edit', edit_post_path(post)
          #end
        %>
    </td>
    <td><%= link_to 'X', post, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
