<!DOCTYPE html>
<html ng-app="AnonymousApp">
<head>
  <title>&#x2800;</title>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="app-container" ng-controller="AppController">
  <div id="form-header">
    <div id="sign-in-form" class="visible-{{ !isSignedIn() }}">
      <form ng-submit="signIn()">
        <input type="text" class="username" placeholder="username" ng-model="inputUsername"></input><input type="password" class="password" placeholder="password" ng-model="inputPassword"></input><input type="submit" value="Sign In"></input>
      </form>
      <p class="sign-up">
        No account?
        <%= link_to "Sign up!", 'javascript:void(0)' %>
      </p>
    </div>
    <div id="post-form" class="visible-{{ !!isSignedIn() }}">
      <form ng-submit="createPost()">
        <div class="text-container">
          <textarea class="content" ng-model="newPostContent" placeholder="your amazing post goes here"></textarea>
        </div>
        <div class="form-controls">
          <input type="submit" value="Post"></input>
        </div>
      </form>
    </div>
  </div>
  
  <div id="main-dish">
    <ol class="post-list">
      <li ng-repeat="post in posts">
        <div class="vote">
          <div class="vote_up"></div>
          <div class="vote_total">
            {{ post.net_upvotes }}
          </div>
          <div class="vote_down"></div>
        </div>
        
        <div class="content">
          {{ post.content }}
        </div>
        <div class="location">
          <div class="longitude">
            {{ post.longitude }}
          </div>
          <div class="latitude">
            {{ post.latitude }}
          </div>
        </div>
        <div class="time">
          {{ post.created_at }}
        </div>
      </li>
    </ol>
    
    
  </div>
</div>

<div id="footer">
  <p>Made with
    <%= link_to "Ruby on Rails", 'http://rubyonrails.org/' %>,
    <%= link_to "CoffeeScript", 'http://coffeescript.org/' %>,
    <%= link_to "AngularJS", 'http://angularjs.org/' %>,
    and our own house blend of love and contempt for humanity.
  </p>
  <p>
    <%= link_to "Come work for us", 'http://github.com/benchristel/anonymouspost#contributing' %>!
    We won't pay you.
  </p>
</div>

</body>
</html>
