<!DOCTYPE html>
<html ng-app="AnonymousApp">
<head>
  <title>&#x2800;</title>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="app-container" class="container-fluid" ng-controller="AppController">
  <div id="header" class="row">
    <ul>
      <li><button ng-click='logInModal.launch()' ng-hide='!!isSignedIn()'> Log In</button></li>
      <li><button ng-click='signUpModal.launch()' ng-hide='!!isSignedIn()'> Sign Up</button></li>
    </ul>
  </div>

  <div id="navbar" class="row">
  </div>

  <div id="main-dish" class="container">

    <ol class="row unstyled">
      <li ng-repeat="post in posts" >
        <div class="votes">
          <div class="vote-total">
            {{ post.net_upvotes }}
          </div>
          <div class="vote-up"  ng-click= "upvote(post)">+</div>
          <div class="vote-down" ng-click= "downvote(post)">-</div>
        </div>
        <span type="button" class="delete" ng-show="!!isOwner(post)" ng-click=" delete($index)">x</span>
        <div ng-bind-html="post.content"></div>
        <div class="location">
          <span class="distance">
            {{ post.distance.meters | number:0 }} meters
          </span>
          <span class="direction">
            {{ post.direction }}
          </span>
        </div>
        <div class="time">
          {{ post.created_at }}
        </div>
      </li>
    </ol>
  </div>
</div>

<div id="footer">
  <p>Made with
    <%= link_to "Ruby on Rails", 'http://rubyonrails.org/' %>,
    <%= link_to "CoffeeScript", 'http://coffeescript.org/' %>,
    <%= link_to "AngularJS", 'http://angularjs.org/' %>,
    and our own house blend of love and contempt for humanity.
  </p>
  <p>
    <%= link_to "Come work for us", 'http://github.com/benchristel/anonymouspost#contributing' %>!
    We won't pay you.
  </p>
</div>


</body>
</html>


<!-- <div id="sign-in-form" ng-hide="!!isSignedIn() || !!signup" ng-init"signup=false">
  <a class="brand" href="#">AnonyPost</a>
  <form ng-submit="signIn()" class="navbar-form pull-right nav-collapse collapse">
    <input type="text" class="username" placeholder="username" ng-model="inputUsername"></input>
    <input type="password" class="password" placeholder="password" ng-model="inputPassword"></input>
    <input type="submit" value="Sign In" class="btn btn-small"></input>
  </form>
  <p class="sign-up" ng-click= "signup=true">
    No account?
    <%= link_to "Sign Up!", 'javascript:void(0)' %>
  </p>
</div>
<div id="sign-in-form" ng-hide="!!isSignedIn() || !signup">
  <form ng-submit="signUp()" class="navbar-form pull-right nav-collapse collapse">
    <input type="text" class="username" placeholder="username" ng-model="inputUsername"></input>
    <input type="password" class="password" placeholder="password" ng-model="inputPassword"></input>
    <input type="submit" value="Sign Up"></input>
  </form>
  <p class="sign-up" ng-click= "signup=false">
    Already have an account?
    <%= link_to "Sign In!", 'javascript:void(0)' %>
  </p>
</div> -->
